html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* #region Navbar*/
.navbar {
  height: 100vh;
  width: 18.22vw;
  position: fixed;
  left: -22.5vw;
  transition: left 0.5s;
  background-color: gray;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.navbar div {
  font-size: 2em;
  margin: 0.5em 0;
  color: white;
}

.navbar a {
  font-size: 1em;
  text-decoration: none;
  margin: 0.5em 0;
  color: white;
}

.navbar a:hover {
  color: blue;
}

/* #endregion */

/* #region Panel Base */
.panel {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 139, 0.9)
}

.panel .title {
  font-size: 2em;
  position: relative;
  left: 25vw;
  top: 5vh;
  color: white;
  display: flex;
  flex-direction: row;
}

.panel .title select {
  font-size: 0.75em;
  background-color: peru;
  color: white;
  border-radius: 5px;
  margin-left: 1em;
  cursor: pointer;
}

.panel .missing {
  position: relative;
  left: 25vw;
  top: 7.5vh;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
}

.panel .missing div {
  margin: 0 1em;
}

.panel .missing select {
  border-radius: 5px;
  color: white;
  background-color: peru;
  font-size: .75em;
  cursor: pointer;
}

.panel .form {
  width: 35vw;
  height: auto;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 12.5vh;
  left: 25vw;
  border-radius: 15px;
  padding: 1em;
}

.panel .form .data {
  width: 100%;
  height: auto;
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  margin: 0.5em 0;
}

.panel .form .data div:first-child {
  width: 45%;
}

.panel .form .data input {
  border: 0;
  border-bottom: 1px solid black;
  width: 30%;
}

.panel .form .data select {
  border-radius: 5px;
  color: white;
  background-color: peru;
  font-size: 0.75em;
  margin-left: 1em;
}

.panel .form .data select:hover {
  cursor: pointer;
}

.panel .form .button#solve {
  font-size: 1.5em;
  border-radius: 5px;
  background-color: peru;
  color: white;
  cursor: pointer;
  margin: 1em;
  padding: 0.5em;
  transition: 0.2s;
  width: fit-content;
}

.panel .form .button#solve:hover {
  transform: scale(1.2);
}

/* #endregion */

/* #region Home */
.panel#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.panel#home div#title {
  font-size: 4em;
  margin: 0.5em;
}

.panel#home .text {
  font-size: 2em;
}

.panel#home a {
  text-decoration: none;
  transition: 0.2s;
}

.panel#home .buttons {
  display: flex;
  flex-direction: column;
}

.panel#home .buttons #row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.panel#home .buttons #row-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.panel#home .buttons .button {
  font-size: 1.5em;
  padding: 1.5em;
  margin: 10px;
  background-color: coral;
  border-radius: 15px;
  color: white;
}

.panel#home .buttons .button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* #endregion */

/* #region Speed and Velocity */
.panel#speed {
  background-color: #0F4C81;
}
/* #endregion */
