.panel#projectile .result {
  display: flex;
  flex-direction: row;
  left: 62.5vw;
  position: relative;
  align-items: center;
  width: fit-content;
}

.panel#projectile .result div{
  width: 25vw;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.5em;
}

.panel#projectile .result select {
  background-color: peru;
  font-size: 1em;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1em;
  height: fit-content;
}

.panel#projectile #btnSolve {
  color: white;
  background-color: peru;
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 72.5vw;
  padding: 1em;
  font-size: 1.5em;
  border-radius: 5px;
  margin: 1.5em;
  cursor: pointer;
  transition: .2s;
}

.panel#projectile #btnSolve:hover {
  transform: scale(1.05);
}