.panel#projectile #btnSolve {
  color: white;
  background-color: #ED6663;
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 24.5vw;
  top: 13vh;
  padding: 1em;
  font-size: 1.5em;
  border-radius: 15px;
  margin: 0.5em;
  cursor: pointer;
  transition: 0.2s;
}

.panel#projectile #btnSolve:hover {
  transform: scale(1.05);
}